.theme-switcher {
    position: fixed;
    bottom: 50px;
    left: 20px;
    background-color: var(--button-bg-light);
    color: var(--button-text-light);
    padding: 5px 9px 0px 9px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .theme-switcher {
    background-color: var(--button-bg-dark);
    color: var(--button-text-dark);
}

.theme-switcher:hover {
    opacity: 0.8;
}

.theme-switcher .icon {
    margin-right: 0px;
    font-size: 18px;
    padding: 0px 0px 0px 0px;

}